@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');

$font-heading: 'Pacifico', Helvetica, Arial, sans-serif;
$font-main: 'Roboto', Helvetica, Arial, sans-serif;

$color-1: #444;
$color-die: #F11E0A;

$die-size: 65px;
$spot-size: 18px;

@mixin tran {
  transition: 0.2s all ease-in-out;
}

@keyframes roll {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#app {
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  color: $color-1;
}
.container {
  width: 500px;
}
a {
  text-decoration: none;
}
.heading-wrapper {
  text-align: center;
  padding: 50px 0;
  margin: 0;
  h1 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    font-family: $font-heading;
    line-height: 40px;
  }
  h2 {
    color: #888;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }
}
.game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.die-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.btn {
  display: inline-block;
  border: 2px solid $color-1;
  border-radius: 6px;
  padding: 8px 35px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  @include tran;
  &:hover {
    background-color: #ccc;
  }
}
.die {
  border-radius: 6px;
  width: $die-size;
  height: $die-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px dashed #555;
  background-color: #fff;
  color: #fff;
  font-weight: bold;
  padding: 3px;
  @include tran;
  cursor: pointer;
  // box-shadow: 2px 2px 4px $color-die;
  // border-right: 1px solid #B71E0A;
  // border-bottom: 1px solid #B71E0A;
}
.roll {
  animation: roll 0.5s ease-in-out;
}
.started .die {
  background-color: $color-die;
  border: 2px solid $color-die;
  z-index: 9;
  &.selected {
    transform: translateY(20px);
    .saved-die {
      opacity: 1;
    }
  }
}
.saved-die {
  position: absolute;
  top: -27px;
  color: $color-1;
  opacity: 0;
  @include tran;
}
.spot {
  position: relative;
  flex: 0 0 33.3333333%;
  opacity: 0;
  pointer-events: none;
  &:before {
    content: '';
    box-shadow: inset -3px -3px 4px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: $spot-size;
    height: $spot-size;
    background-color: #fff;
  }
}
.started {
  .one {
    .spot-5 {
      opacity: 1;
    }
  }
  .two {
    .spot-1,
    .spot-9 {
      opacity: 1;
    }
  }
  .three {
    .spot-1,
    .spot-5,
    .spot-9 {
      opacity: 1;
    }
  }
  .four {
    .spot-1,
    .spot-3,
    .spot-7,
    .spot-9 {
      opacity: 1;
    }
  }
  .five {
    .spot-1,
    .spot-3,
    .spot-5,
    .spot-7,
    .spot-9 {
      opacity: 1;
    }
  }
  .six {
    .spot-1,
    .spot-3,
    .spot-4,
    .spot-6,
    .spot-7,
    .spot-9 {
      opacity: 1;
    }
  }
}